{% extends 'base.html' %}

{% block title %}Property View Specific{% endblock %}

{% block content %}

<div class="container mt-5">
<h2 class="mb-4">
    {% if form.leaseID != 0 %}
    Edit Lease Agreement #{{ form.leaseID }}
    {% else %}
    Add New Lease Agreement
    {% endif %}
</h2>
<a href="/lease-agreement-view" class="btn btn-secondary">Back</a>
<div class="row">
    <div class="col-md-7">

        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}

    <form method="POST" action="/add-leaseagreement">
        <input type="hidden" name="leaseID" value="{{ form.leaseID }}">

        <div class="mb-3">
            <label for="propertyType" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="start_date" name="start_date" value="{{ form.startDate or 0 }}" required>
        </div>
        
        <div class="mb-3">
            <label for="propertyType" class="form-label">End Date</label>
            <input type="date" class="form-control" id="end_date" name="end_date" value="{{ form.endDate or 0}}" required>
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Property ID</label>
            <input type="number" class="form-control" name="property_ID" value="{{ form.property_ID }}" required>
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Room ID</label>
            <input type="number" class="form-control" name="room_ID" value="{{ form.room_ID }}" required>
        </div>

        <div class="mb-3">
        <label for="address" class="form-label">Client SSN</label>
        <input type="number" class="form-control" name="clientSSN" value="{{ form.clientSSN }}" required>
        </div>

        <button type="submit" class="btn btn-primary">
        {% if form.leaseID != 0 %}Update Lease Agreement{% else %}Add LeaseAgreement{% endif %}
        </button>
    </form>
    </div>
</div>
</div>

{% endblock %}
