{% extends 'base.html' %}

{% block title %}index{% endblock %}

{% block content %}
<body>
<div class="container">
  <h2>Rentify Login</h2>
  {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endif %}
  <form action="/login" method="post">
    <input type="text" placeholder="Username" name="username" required>
    <input type="password" placeholder="Password" name="password" required>
    <button type="submit">Login</button>
  </form>
</div>
</body>
{% endblock %}