{% extends 'base.html' %}

{% block title %}Property View{% endblock %}

{% block content %}
<div class="container">
  <h2>Properties List</h2>
  <table>
    <thead>
      <tr>
        <th>PropertyID</th>
        <th>Address</th>
        <th>Description</th>
        <th>OwnerSSN</th>
      </tr>
    </thead>
    <tbody>
      <!-- Dynamic backend content -->    
      {% for p in ps %}
      <tr>
        <td>{{ p[0] }}</td>  
        <td>{{ p[1] }}</td> 
        <td>{{ p[2] }}</td> 
        <td>{{ p[3] }}</td> 
      </tr>
      {% endfor %} 
    </tbody>
  </table>
</div>
{% endblock %}